<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  　
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include("../_share/fontawesome.ejs") %>
  <%- include("../_share/favicon.ejs") %>
  <%- include("../_share/stylesheets.ejs") %>
  <script src="/third_party/ejs/ejs.min.js"></script>
</head>

<body>

  <header class="text-center">
    <p>家計簿履歴</p>
  </header>
  <main class="container">

    <chart class="chartArea">
      <canvas id="myChart" height="300"></canvas>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
      <script>

        // scriptタグ内ではオブジェクトのリストを直接読み込めないので１件ずつループで取得
        let sumCostParTypeList = [];
        <% sumCostParType.forEach(obj => { %>
          sumCostParTypeList.push(<%- JSON.stringify(obj) %> );
        <% }); %>

          // scriptタグ内では直接読み込めないのでparseで文字列として読み込む
        const targetCostInfo = sumCostParTypeList.filter(obj => obj.month == JSON.parse(<%= moment %>));

        let costList = targetCostInfo.map(obj => obj.sumCost);
        let typeList = targetCostInfo.map(obj => obj.type_name);
        costList.push(JSON.parse(<%= lastRentCost %>));
        typeList.push("家賃");

        let ctx = document.getElementById("myChart");
        let myChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
            "plot": {
              "value-box": {
                "text": "%pie-total-value",
                "placement": "center",
                "font-color": "black",
                "font-size": 35,
                "font-family": "Georgia",
                "font-weight": "normal",
                "rules": [
                  {
                    "rule": "%p != 0",
                    "visible": false
                  }
                ]
              }
            },
            datasets: [{
              backgroundColor: [
                "#BAF0B5",
                "#47B995",
                "#00CED1",
                "#008B8B",
                "#B0E0E6",
                "#116061",
                "#009F8B",
                "#6F99B1",
                "#6F8F99",
              ],
              data: costList
            }],
            labels: typeList,
          },
          options: {
            animation: {
              animateScale: true
            },
            legend: {
              position: 'bottom',
              labels: {
                boxWidth: 20,
              },
            },
            layout: {
              padding: {
                left: 0,
                right: 0,
                top: 20,
                bottom: 10
              }
            }
          }
        });
      </script>
    </chart>

    <history class="accordion card m-auto" style="width: 90%;" id="accordionExample">
      <div class="card">

        <div class="card-header p-0" id="headingOne">
          <h5 class="mb-0">
            <button class="btn full btn-main collapsed" type="button" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="false" aria-controls="collapseOne">
              <span><i class="toggle-history fas fa-angle-double-down text-white fa-2x"></i></span>
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body row">
            <% const parMonthList = allCostInfo.filter(obj => obj.month == moment) %>
            <% for (obj of parMonthList) {%>
            <div class="col-3 m-auto">
              <p><%= obj.type_name%></p>
            </div>
            <div class="col-3 m-auto">
              <p><%= obj.userName%></p>
            </div>
            <div class="col-3 m-auto">
              <p><%= obj.cost%></p>
            </div>
            <form class="col-3" action="/history/edit/<%=obj.id%>" method="POST">
              <button type="submit" class="btn btn-light pt-0"><i class="fas fa-align-center fa-lg"></i></button>
            </form>
            <% } %>
          </div>
        </div>

      </div>
    </history>

  </main>

  <footer>
    <%- include("../_share/navbar.ejs") %>
  </footer>

  <%- include("../_share/javascripts.ejs") %>
  <script src="/javascripts/toggle/toggle-history.js"></script>
</body>

</html>