<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
　<meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include("../_share/stylesheets.ejs") %>
</head>
<body>
  <ul class="nav nav-tabs">
    <li>
      <a class="nav-link" href="/">ホーム</a>
    </li>
  </ul>
  

  
<div class="jumbotron text-center">
  <p>入力</p> 
</div>

<div class="container">
  <div class="row"> 
    <form class="col-sm-12">
      <%
        var errors = locals.errors || {};
        var original = locals.original || {};
      %> 
      <div class="col-sm-12">
        <select class="border border-top-0 border-right-0 border-left-0 custom-select" id="user" name="user" value="<%= original.user %>">
          <option selected=""><%= original.user ? original.user : "ユーザーを選択" %></option>
          <% for (var key in users) { %>
          <option value="<%= users[key].userName %>"><%= users[key].userName %></option>
          <% }; %>
        </select>      
      </div>
      <div class="col-sm-12">
        <select class="border border-top-0 border-right-0 border-left-0 custom-select" id="type" name="type" value="<%= original.type %>">
          <option selected=""><%= original.type ? original.type : "種類を選択" %></option>
          <% for (var key in types) { %>
          <option value="<%= types[key].type_name %>"><%= types[key].type_name %></option>
          <% }; %>
        </select>      
      </div>
      <div class="col-sm-12">
          <input class="border border-top-0 border-right-0 border-left-0 form-control-sm" type="text" placeholder="日付を入力" id="month" name="month" value="<%= original.month %>">
      </div>
      <div class="col-sm-12">
          <input class="border border-top-0 border-right-0 border-left-0 form-control-sm" type="text" placeholder="金額を入力" id="cost" name="cost" value="<%= original.cost %>">
      </div>
      <div class="col-xs-6　text-center mt-5">
        <input type="submit" class="btn shadow btn-secondary btn-block" data-method="POST" data-action="/regist/posts/confirm" value="確認">
      </div>
    </form>
  </div>
</div>

<%- include("../_share/javascripts.ejs") %>
<script src="/javascripts/regist/regist.js"></script>
</body>
</html>
 