<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
　<meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include("../../_share/stylesheets.ejs") %>
</head>
<body>
  <ul class="nav nav-tabs">
    <li>
      <a class="nav-link" href="/">ホーム</a>
    </li>
  </ul>
  

  
<div class="jumbotron text-center">
  <p>編集</p> 
</div>

<div class="container">
  <div class="row"> 
    <form class="col-sm-12">
      <%
        var errors = locals.errors || {};
        var original = locals.original || {};
      %> 
      <div class="col-sm-12">
        <div class="col-sm-12">
            <input class="border border-top-0 border-right-0 border-left-0 form-control-sm" type="text" id="user" name="user" value="<%= original.user %>">
        </div>
        <div class="col-sm-12">
          <input class="border border-top-0 border-right-0 border-left-0 form-control-sm" type="text" id="month" name="month" value="<%= original.month %>">
        </div>
        <div class="col-sm-12">
            <input class="border border-top-0 border-right-0 border-left-0 form-control-sm" type="text" id="type" name="type" value="<%= original.type %>">
        </div>
        <div class="col-sm-12">
            <input class="border border-top-0 border-right-0 border-left-0 form-control-sm" type="text" id="cost" name="cost" value="<%= original.cost %>">
        </div>
        <div class="text-center mt-5">
          <div class="col-xs-6">
            <input type="submit" class="btn shadow btn-secondary btn-block" data-method="POST" data-action="/history/edit/execute/<%= id %>" value="確定">
          </div>
          <div class="col-xs-6 mt-3">
            <input type="submit" class="btn shadow btn-outline-secondary btn-block" data-method="POST" data-action="/regist/input" value="戻る">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<%- include("../../_share/javascripts.ejs") %>
<script src="/javascripts/regist/regist.js"></script>
</body>
</html>
 