<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">

<head>
  <title>精算</title>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include("../_share/fontawesome.ejs") %>
  <%- include("../_share/favicon.ejs") %>
  <%- include("../_share/stylesheets.ejs") %>
</head>

<body>

  <header class="text-center">
    <p>精算</p>
  </header>

  <main class="container">

    <div class="main-image">
      <img src="/images/calculator.png">
    </div>

    <div class="row">
      <form class="form">
        <input class="mb-3" type="text" placeholder="日付を入力" id="month" name="month"
          value="<%= moment().format('YYYYMM') %>">
        <input type="submit" class="btn shadow btn-secondary btn-block" data-method="POST"
          data-action="/payoff/posts/execute" value="精算">
      </form>
    </div>
  </main>

  <footer>
    <%- include("../_share/navbar.ejs") %>
  </footer>

  <%- include("../_share/javascripts.ejs") %>
  <script src="/javascripts/regist/regist.js"></script>
</body>

</html>